<p id="notice"><%= notice %></p>
<center>
<h2>Thank you <%= @register.fname %>
 for registering for the Event !</h2>
<br/>
<h4>
  <strong>Registration ID: ASF</strong>
  <%= @register.id %>
</h4>

<h4>
  <strong>Please Check your mail:</strong>
  <%= @register.email %>
 <strong> for further instructions.</strong>
</h4>

<br>
<h2>Points to be noted</h2>
<p>Please note down the <strong> Anna Fest ID </strong> that is mentioned here (also will be mailed). This ID should be mentioned to the organisers at any point of time before, during or after the tournament for verification and authentication purposes.</p>
<p>Please download this <strong><a href="https://drive.google.com/file/d/0B9TXpeQVBi0-cnlZVWlINlp1ekk/view?usp=sharing"> entry form</a></strong> . A photocopy of the form must be signed by the Principal/Head of the Institution and the Director of Physical Education. It is MANDATORY to bring this form to participate in the event(s).</p>
<p>Teams will be selected on the basis of lots and fixtures and other details will be notified via this mail ID 3 days before the tournament.</p>
<a href="http://annafest.in">Back to main site</a></center>
