.pad-dn
{
	margin-top: 50px ;
}

.f-form h5
{
	display: inline;
}

div.terms {
	height:200px;
	border:1px solid #ccc;
	background:#f2f2f2;
	padding:6px;
	overflow:auto;
}
div.terms p,
div.terms li {font:normal 11px/15px arial;color:#333;}
div.terms h3 {font:bold 14px/19px arial;color:#000;}
div.terms h4 {font:bold 12px/17px arial;color:#000;}
div.terms strong {color:#000;}

td
{
	width: 200px;
	height: 60px;
	padding: 5px;
}

.hed
{
	margin-top: 10px;
	text-align: right;
	font-weight: bold;
	font-size: 15px;
	vertical-align: middle;
}

.form_field
{
	margin: 5px;
}


input
{
	margin: 5px;
}
