<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for registering yourself as a part of Anna Fest, the sporting extravaganza. Your registration is herewith confirmed.</h1>

<p> We shall intimate you soon regarding further updates and notifications.</p>

<h2>Please note the following guidelines and instructions:</h2>
<p>Please note down the Anna Fest ID that is mentioned here in the subject line of this mail. This ID should be mentioned to the organisers at any point of time before, during or after the tournament for verification and authentication purposes.</p>
<p>Please download this <strong><a href="https://drive.google.com/file/d/0B9TXpeQVBi0-cnlZVWlINlp1ekk/view?usp=sharing"> entry form</a></strong>. A photocopy of the form must be signed by the Principal/Head of the Institution and the Director of Physical Education. It is MANDATORY to bring this form to participate in the event(s).</p>
<p>Teams will be selected on the basis of lots and fixtures and other details will be notified via this mail ID 3 days before the tournament.</p>

<p>So, what are you waiting for? Let sweat beads drench your jerseys, let the thought of victory gush through your blood, because a sweating physique is a sporting physique.</p>
<h2>Practise hard. All the best.</h2>

<p>With Warmest Wishes and Regards,<p>
<h4>Team Annafest</h4>

  </body>
</html>
